<ul>
{{#each artists}}
  <li class="artists">
    <a class="artist-name" href="/artists/{{_id}}">{{name}}:</a>
  </li>
  <li class="artists">{{hitSong}}</li>
  <li class="artists">{{album}}</li>
  <li class="artists">{{bio}}</li>
  <img class="artists-pic" src={{photo_url}}>
{{/each}}
</ul>
