
<h3 class="artist-name">{{name}}</h3>

<img class="artist-pic" src={{photo_url}}>
<div class="artist">Artist Bio:</div>
<div class="artist">{{bio}}</div>
<div class="artist">Hit Song:</div>
<div class="artist">{{hitSong}}</div>
<div class="artist">Album:</div>
<div class="artist">{{album}}</div>
