
<h3 class="artist-name">{{artist.name}}</h3>

<a href="/artists/{{artist._id}}/edit">Edit Artist Info</a>
<a href="/artists/{{artist._id}}/newalbum">Add new Album</a>

<img class="artist-pic" src={{artist.photo_url}}>
<div class="artist">Artist Bio:</div>
<div class="artist">{{artist.bio}}</div>
<div class="artist">{{#each artist.albums}}
  <div class="thumblist">
    <div>{{name}}</div>
    <img src={{albumCover}}>
  </div>
  {{/each}}



</div>
